.Home {
  color: #fff;
  position: relative;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .Home {
    height: 900px;
  }
}
.Home .container {
  max-width: 95%;
  margin: 40px auto;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .Home .container {
    max-width: 90%;
  }
}
.Home .container h1 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 20px 0;
}
@media only screen and (min-width: 768px) {
  .Home .container h1 {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 991px) {
  .Home .container h1 {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .Home .container h1 {
    font-size: 5rem;
  }
}
.Home .container p {
  font-size: 0.65rem;
  letter-spacing: 3px;
  margin-top: 10px;
}
@media only screen and (min-width: 991px) {
  .Home .container p {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .Home .container p {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .Home .container p {
    font-size: 1.5rem;
  }
}
.Home .container .typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
}
.Home .container .typed2 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-delay: 2s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
}
.Home .container .typed3 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-delay: 3s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
}
.Home .container .typed3 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-delay: 4s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
}
.Home .container .typed4 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-delay: 5.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
}
.Home .container .typed5 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-delay: 6.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
}
.Home .container .typed6 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-delay: 7.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
}
.Home .button {
  text-decoration: none;
  background: #f05f40;
  color: #fff;
  border-radius: 40px;
  margin-top: 20px;
  padding: 20px;
  font-size: 0.8rem;
  opacity: 0;
  animation: fade-in 0.5s ease forwards;
  animation-delay: 9s;
  transition-timing-function: ease-in-out;
}
.Home .button:hover {
  background-color: #ee411a;
}
@media only screen and (min-width: 768px) {
  .Home .button {
    font-size: 1.3rem;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=style2.css.map */