:root{
    --color-bg:#212529;
    --color-text-1: #fff;
    --color-text-2: #000000;
    --color-primary: #f05f40;
    --color-secondary: #ee411a;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: var(--color-bg);
}